"*":
  achievements:
    NoticeDelay: 10000
  "activate-power-mode":
    plugins:
      playAudio: false
      screenShake: false
    screenShake:
      enabled: false
  "advanced-open-file":
    createDirectories: true
  "atom-beautify":
    general:
      _analyticsUserId: "5545875c-088b-4d5a-9c2d-1cf09824ba00"
    js:
      default_beautifier: "ESLint Fixer"
    less:
      default_beautifier: "CSScomb"
    markdown:
      disabled: true
  "atom-package-deps":
    ignored: []
  core:
    disabledPackages: [
      "atom-grammar-test"
      "package-generator"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby"
      "language-python"
      "language-ruby-on-rails"
      "language-sql"
      "language-mustache"
      "language-c"
      "language-go"
      "language-java"
      "language-make"
      "language-csharp"
      "language-hyperlink"
      "spell-check"
      "line-ending-selector"
      "markdown-preview"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.meta"
    ]
    packagesWithKeymapsDisabled: [
      "symbols-tree-view"
      "split-diff"
      "highlight-selected"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontSize: 15
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "f83bf447-cd25-96ab-ff09-1662412c78ab"
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  "git-plus":
    general:
      splitPane: "Right"
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  hyperclick:
    win32TriggerKeys: "altKey"
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".node"
      ".jsx"
      ".ts"
      ".ts"
    ]
  "language-elm":
    elmOraclePath: "C:\\Users\\tlwri\\AppData\\Roaming\\npm\\elm-oracle"
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".markdown, .md"
    relativeImagePath: true
  pigments:
    extendedSearchNames: [
      "**/*.css"
      "**/*.less"
    ]
  "project-manager":
    environmentSpecificProjects: true
  "project-viewer":
    convertOldData: false
    hideHeader: true
    panelPosition: "Left"
  "svg-preview":
    openPreviewAutomatically: true
  "symbols-tree-view":
    autoHide: true
    autoToggle: true
    zAutoHideTypes: "object"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".js.jsx.react.source":
  editor:
    scrollPastEnd: true
".json.source":
  editor:
    tabLength: 4
".plist.source":
  editor:
    tabLength: 4
".plist.text.xml":
  editor:
    tabLength: 4
".source.ts":
  editor:
    showIndentGuide: true
