# project-viewer
'.platform-win32':
  'ctrl-?': 'project-viewer:toggle-display'
  'alt-/': 'project-viewer:toggle-select-view'

'atom-text-editor:not([mini])':
    # emmet
    'tab': 'emmet:expand-abbreviation-with-tab'
    # move
    'alt-up': 'core:move-to-top'
    'alt-down': 'core:move-to-bottom'
    'alt-left': 'editor:move-to-first-character-of-line'
    'alt-right': 'editor:move-to-end-of-screen-line'
    # bookmarks
    'alt-m alt-,': 'bookmarks:toggle-bookmark'
    'alt-m alt-l': 'bookmarks:view-all'
    'alt-m alt-m': 'bookmarks:jump-to-next-bookmark'
    'alt-m alt-n': 'bookmarks:jump-to-previous-bookmark'
    'alt-m alt-.': 'bookmarks:clear-bookmarks'
    # snippets
    'alt-;': 'snippets:available'

'atom-workspace':
  # Key bindings for multi-cursor-plus
  'alt-x':                'multi-cursor-plus:mark'
  'alt-up':               'multi-cursor-plus:move-up'
  'alt-down':             'multi-cursor-plus:move-down'
  'alt-left':             'multi-cursor-plus:move-left'
  'alt-right':            'multi-cursor-plus:move-right'
